*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 206, 206);
  margin: 0;
}

header {
  background-color: white;
}
header .header-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
header .header-wrapper div img {
  width: 150px;
  height: 50px;
}

.filter-button {
  margin-top: 30px;
  padding: 0 25px;
  position: sticky;
  top: 20px;
  z-index: 2;
}
.filter-button a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #1200ff;
  padding: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  font-size: 10px;
}

h1 {
  font-size: 46px;
  padding: 0 25px;
}

.course-banner .course-banner-wrapper {
  padding: 0 25px;
}
.course-banner .course-banner-wrapper .banner-info {
  padding: 25px 10px 20px 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.course-banner .course-banner-wrapper .banner-info .banner-name {
  display: grid;
}
.course-banner .course-banner-wrapper .banner-info .banner-name .purple-text {
  color: purple;
  font-size: 20px;
  font-weight: bold;
}
.course-banner .course-banner-wrapper .banner-info .banner-name .black-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.course-banner .course-banner-wrapper .banner-info a img {
  width: 50px;
  height: 50px;
}
.course-banner .course-banner-wrapper .banner-image img {
  width: 100%;
}

.program {
  margin-top: 30px;
  padding: 0 25px;
}
.program .program-wrapper {
  background-color: white;
  padding: 25px;
  margin-bottom: 20px;
}
.program .program-wrapper .funding-tag {
  background-color: #ff00e9;
  display: inline-block;
  font-size: 10px;
  padding: 12px 17px 11px;
  position: absolute;
  right: 9px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  color: white;
}
.program .program-wrapper .program-image {
  display: inline-block;
}
.program .program-wrapper .program-image img {
  width: 100%;
  height: 80px;
}
.program .program-wrapper .program-name {
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 20px;
}
.program .program-wrapper ul {
  padding-left: 0;
}
.program .program-wrapper ul .language {
  display: inline-block;
  background-image: url(https://i.pinimg.com/originals/a0/8f/44/a08f4469e0d5a851f91f1a5fc5805324.png);
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-right: 25px;
}
.program .program-wrapper ul .time-of-day {
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8fZ9jQp1osQZKJITA2yVG7uYxzGFNKPYSkA&s);
  background-size: 15px;
  background-repeat: no-repeat;
}

.footer-container {
  background-color: black;
}

footer {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color: #929497;
  padding: 50px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
}
footer .footer-logo {
  display: none;
}
footer .link-sections {
  display: grid;
  gap: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #929497;
}
footer .link-sections a {
  text-decoration: none;
  color: #929497;
  font-size: 14px;
}
footer .icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: right;
  border-bottom: 1px solid #929497;
}
footer .location {
  padding: 40px 0 0 0;
  border-bottom: 1px solid #929497;
  grid-column: 1/3;
}
@media (min-width: 920px) {
  footer .location {
    grid-column: 2;
    border-bottom: none;
    grid-row: 2;
    padding: 0;
  }
}
footer .location .city {
  margin-bottom: 40px;
  color: white;
}
footer .location .address {
  margin-bottom: 40px;
}
footer .location .address a {
  padding: 0 250px 0 0;
  text-decoration: none;
  color: #929497;
}
footer .privacy-policy {
  padding: 40px 0;
  font-size: 14px;
  border-bottom: 1px solid #929497;
  grid-column: 1/3;
}
footer .privacy-policy a {
  text-decoration: none;
  color: #929497;
}
footer .copyright {
  padding: 40px 0;
  grid-column: 1/3;
}
footer .copyright .copyright-name {
  padding-bottom: 20px;
  font-size: 14px;
}
footer .copyright .copyright-name a {
  text-decoration: none;
  color: white;
}
footer .copyright img {
  width: 100px;
}
footer .footer-decoration img {
  position: absolute;
  width: 200px;
  right: 13px;
  margin: -227px 17px;
}/*# sourceMappingURL=style.css.map */